<a href="https://colab.research.google.com/github/sandhiyadurai/Data-Analytics/blob/main/function08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DEF function calling

In [1]:
def add():   #------without parameter
  c=a+b
  print(f"The sum of {a} and {b} is {c}")
a=2
b=4
add()

The sum of 2 and 4 is 6

In [2]:
def intro(name,age):    #----- with parameter
  print(f"My name is {name} and my age is {age}")
name="RAM"
age=17
intro(name,age)

My name is RAM and my age is 17

In [4]:
def hello(name="RAM"):   #----- default argument
  print(f"hello {name}!!!! have a great day")
hello()
hello(name="ram")

hello RAM!!!! have a great day
hello ram!!!! have a great day

In [6]:
def sum(a,b):
  c=a+b
  print(f"the sum of {a} and {b} is {c}") #--functionl argument
a=4
b=9
sum(a,b)

the sum of 4 and 9 is 13

In [9]:
def even_odd(a):
  if a%2==0:
    print(f"the given number {a} is even number") #--- condition check
  elif a==0:
    print(f" the entered number is zero")
  else:
    print(f"the given number {a} is odd number")

even_odd(6)

the given number 6 is even number

TASK

In [12]:
user_name=["ram","rithu","gomathi", "durai","sandhiya"]
user=input("Enter your name:")
if user in user_name:
  print(f"the user name {user} is already exists")
else:
  print(f" the user name {user} is not exists")

Enter your name:jj
 the user name jj is not exists

In [29]:
for i in range(1,16):
  print(i)
  if i==7:
    break
    print(i)

for i in range (10,15):
  print(i)
  if i==10:
    continue
    print(i)

1
2
3
4
5
6
7
10
11
12
13
14

In [56]:
for i in range(1,16):
  if i>5 and i<10:
    continue
    print(i)
  else:
    print(i)

1
2
3
4
5
10
11
12
13
14
15